// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$green: #8DFF17;
$orange: #E8B046;
$red: #FF5A60;
$blue: #3490dc;
$purple: #6C49EB;
$cyan: #14FFF1;

$indigo: #6574cd;
$pink: #f66d9b;
$yellow: #ffed4a;
$teal: #4dc0b5;
