// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// FontAwesome
@import '~@fortawesome/fontawesome-free/css/all.css';



@import 'login-register';

@import 'dashboard';

@import 'footer';



.form-check-input:checked{
    background-color: #fcd0d2 !important;
    border: #fd333a !important;
}

.form-check-input:focus{
    box-shadow: 0 0 0 0.25rem #ff6c71 !important;
}

.button>button{
    background-color: #fcd0d2 !important;
    border: 1px solid #ff6c71 !important;
    color: #ff0008 !important;
    text-shadow: 1px 1px #ffffff !important;
    transition: all 0.4s ease-in-out;
    &:hover{
        transform: scale(1.05);
    }
}
