//Footer
footer {
    background-color: #f7f7f7;
    border-top: 1px solid rgb(255, 255, 255);

}


.ms-list-group {
    list-style: none;
    font-size: 13px;
    color: #4A4B4B;

    a {
        text-decoration: none;
        color: #4A4B4B;
        transition: all 0.2s;

        &:hover {
            color: rgb(255,90,95);
            text-decoration: underline;
        }

        i:hover {
            color: rgb(255,90,95);
        }
    }
}
